<!-- <section *ngIf="section" id="gallery" class="content-section gallery">
  <h2>{{ section.title }}</h2>
  <h3 *ngIf="section.subtitle">{{ section.subtitle }}</h3>
  <p *ngIf="section.body" [innerHTML]="section.body"></p>

  <div class="gallery" *ngIf="section.galleryImages?.length">
    <img *ngFor="let img of section.galleryImages" [src]="img" alt="Photo de la galerie" />
  </div>
</section> -->

<!-- src/app/components/gallery/gallery.component.html -->
<section class="content-section gallery-section" *ngIf="section">
  <h2>{{ section.title }}</h2>
  <div class="gallery">
    <img *ngFor="let img of section.galleryImages" [src]="img" alt="Photo de la galerie" />
  </div>
</section>